!!!
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
  %body
    = javascript_include_tag "application"

    / Header and Nav
    .row
      .large-12.columns
        .panel
          %h1 Feed Template
    / End Header and Nav
    .row
      = yield
      / On small devices this column is hidden
      %aside.large-3.columns.hide-for-small
        %p
          %img{:src => "http://placehold.it/300x440&text=[ad]"}/
        %p
          %img{:src => "http://placehold.it/300x440&text=[ad]"}/
    / Footer
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-5.columns
            %p © Copyright no one at all. Go to town.
          .large-7.columns
            %ul.inline-list.right
              %li
                %a{:href => "#"} Section 1
              %li
                %a{:href => "#"} Section 2
              %li
                %a{:href => "#"} Section 3
              %li
                %a{:href => "#"} Section 4
              %li
                %a{:href => "#"} Section 5
              %li
                %a{:href => "#"} Section 6